<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Mon agenda en ligne</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<nav th:replace="~{fragments::menu('index')}"></nav>

	<div id="indexIllustration">
		<figure><img src="images/agenda.png"></figure>
	</div>

	<div id="presentationSite">
		<div class="titrePresentation">
			<h1>Mon agenda en ligne</h1>
		</div>
		<div class="paragraphePresentation">
			<p>
			Mon agenda en ligne est un outil indispensable pour organiser et modifier votre emploi du temps selon vos disponibilités. Il vous accompagne dans tous vos projets. Dans le cadre professionnel, la plate-forme est recommandée pour mettre en place les réunions de la semaine, les rendez-vous ainsi que tous les autres événements à ne pas oublier. Dans le cadre privé il vous permet de suivre la planification de vos tâches domestiques et d'être organisé au quotidien.</p>
		</div>
	</div>

</body>
</html>